a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_61aa482 { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:1394px; background-color:#E4A6F4;  }
#container_61aa482_padding { margin: 10px; display: block;  }
#container_e386fb8 { vertical-align: top; position:relative; display: inline-block; width:61%; min-height:2000px; max-width:1000px; background-color:#7B4289;  }
#container_e386fb8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#video_157c0625 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:97%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
@media only screen and (max-width: 600px)
{
		#container_e386fb8 { width:100%;  }
}
