h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#E1EB27; } 
a:visited { color:#A7EB29; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_fb45d40 a { text-decoration: none; }
#menu_fb45d40_pane { background-color: #1A3E23; border: 1px solid #64845E; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_fb45d40_hr { background-color: #64845E; height: 1px; border: none; }
#menu_fb45d40_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_fb45d40_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_fb45d40_entry:hover span { color:#FFFFFF !important; }
		.menu_fb45d40_mainMenuEntry { text-align: center; }
		.menu_fb45d40_mainMenuEntry:hover {	background-color:#282828; }
		.menu_fb45d40_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_fb45d40 .mobileEntry { display: none; } 
		#menu_fb45d40 .normalEntry { display: block; } 
		#menu_fb45d40_menualignmentwrapper{ width:240px; left: calc(50% - 120px);  } 
		@media only screen and (max-width:600px) { 
			#menu_fb45d40 .mobileEntry { display: block; } 
			#menu_fb45d40 .normalEntry { display: none; } 
			#menu_fb45d40_menualignmentwrapper { width:120px; left: calc(50% - 60px);  } 
		}
body { background-color:#64845E; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_75a96666 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background-color:#C0C0C0; position: fixed;
top: 0;
z-index: 999; }
#container_75a96666_padding { margin: 0px 10px 0px 0px;display: block;  }
#container_23467b03 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:80px; background-color:#1A3E23;  }
#img_74487854 { position:absolute; left:0%; top:0%; height:100%; background:none;  }
#menu_fb45d40 { vertical-align: bottom; position:relative; display: inline-block; width:70%; height:80px; text-align:left; background-color:#C0C0C0;  }
#menu_fb45d40_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:120px; height:80px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:120px; height:80px; left:120px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29;  white-space: nowrap; }
#container_56d2fcb6 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:80px; background:none;  }
#container_56d2fcb6_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:center; }
#container_61aa482 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1394px; background-color:#64845E;  }
#container_b0df8f6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#anchor_6abaa81e { vertical-align: bottom; position:relative; display: inline-block;  }
#container_5e11d928 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:200px; background-color:#1A3E23; background: linear-gradient(to bottom, #000000, #1A3E23);  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#label_7107b4be { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29; text-align:left; font-weight:bold;  }
#container_12d1eed0 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:800px; background-color:#C0C0C0;  }
#container_12d1eed0_padding { margin: 10px; display: block;  }
#heading_797a0fc1 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
#anchor_58949585 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_66793a4f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:800px; background-color:#1A3E23;  }
#container_66793a4f_padding { margin: 10px; display: block;  }
#heading_225196c4 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29; text-align:left; font-weight:bold;  }
#img_431272da { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#C0C0C0;  }
#anchor_593f5171 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_2145fd1 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:800px; background-color:#C0C0C0;  }
#container_2145fd1_padding { margin: 10px; display: block;  }
#heading_250929e8 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
