a { color:#E1EB27; } 
a:visited { color:#E1EB27; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_c364c6a a { text-decoration: none; }
#menu_c364c6a_pane { background-color: #C0C0C0; border: 1px solid #64845E; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_c364c6a_hr { background-color: #64845E; height: 1px; border: none; }
#menu_c364c6a_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_c364c6a_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_c364c6a_entry:hover span { color:#FFFFFF !important; }
		.menu_c364c6a_mainMenuEntry { text-align: center; }
		.menu_c364c6a_mainMenuEntry:hover {	background-color:#282828; }
		.menu_c364c6a_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_c364c6a .mobileEntry { display: none; } 
		#menu_c364c6a .normalEntry { display: block; } 
		#menu_c364c6a_menualignmentwrapper{ width:480px; left: calc(100% - 480px);  } 
		@media only screen and (max-width:600px) { 
			#menu_c364c6a .mobileEntry { display: block; } 
			#menu_c364c6a .normalEntry { display: none; } 
			#menu_c364c6a_menualignmentwrapper { width:120px; left: calc(100% - 120px);  } 
		}
body { background-color:#64845E; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_62a4ca17 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background-color:#C0C0C0; position: fixed;
top: 0;
z-index: 999; }
#container_62a4ca17_padding { margin: 0px 10px 0px 0px;display: block;  }
.textstyle2 { text-align:center; }
#container_5775fb { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:80px; background-color:#1A3E23; @media screen and (max-width: 991px) {
    width:12%;
}
@media screen and (min-width: 992px) {
    width:6%;
}
 }
#container_5775fb_padding { margin: 10px; display: block;  }
#img_445fda0d { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100%; background:none;  }
#menu_c364c6a { vertical-align: bottom; position:relative; display: inline-block; width:94%; height:106px; text-align:left; background-color:#C0C0C0; @media screen and (max-width: 991px) {
    width:88%;
}
@media screen and (min-width: 992px) {
    width:94%;
}
 }
#menu_c364c6a_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:120px; height:106px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:120px; height:106px; left:120px;  }
.menustyle3 { position:absolute; width:120px; height:106px; left:240px;  }
.menustyle4 { position:absolute; width:120px; height:106px; left:360px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
#container_ee07095 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background-color:#64845E;  }
#container_ee07095_padding { margin: 10px; display: block;  }
#container_6c5b77d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:200px; background-color:#1A3E23; background: linear-gradient(to bottom, #000000, #1A3E23);  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#label_3ba4124b { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29; text-align:left; font-weight:bold;  }
#container_6f510895 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1200px; background-color:#64845E;  }
#container_6f510895_padding { margin: 0px 10px 0px 10px;display: block;  }
#container_d7f7436 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:800px; background-color:#C0C0C0;  }
#container_d7f7436_padding { margin: 10px; display: block;  }
#container_6848ba0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6848ba0_padding { margin: 10px; display: block;  }
#container_27649c22 { vertical-align: top; position:relative; display: inline-block; width:50%; min-width:200px; max-width:1000px; background:none; @media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:50%;
}
 }
#container_27649c22_padding { margin: 10px; display: block;  }
#img_3d119465 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_956f2ba { vertical-align: top; position:relative; display: inline-block; min-width:30%; background-color:#1A3E23;  }
#container_956f2ba_padding { margin: 10px; display: block;  }
#container_71ad055a { vertical-align: top; position:relative; display: inline-block; background:none;  }
#container_71ad055a_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:underline;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29;  }
#container_5937bf07 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5937bf07_padding { margin: 10px; display: block;  }
#container_fdbfed7 { vertical-align: top; position:relative; display: inline-block; width:50%; min-width:200px; max-width:1000px; background:none; @media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:50%;
}
 }
#container_fdbfed7_padding { margin: 10px; display: block;  }
#img_75690335 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_3578321b { vertical-align: top; position:relative; display: inline-block; min-width:30%; background-color:#1A3E23;  }
#container_3578321b_padding { margin: 10px; display: block;  }
#container_389f94e9 { vertical-align: top; position:relative; display: inline-block; background:none;  }
#container_389f94e9_padding { margin: 10px; display: block;  }
#container_1c6e0b8e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_1c6e0b8e_padding { margin: 10px; display: block;  }
#container_426fe36 { vertical-align: top; position:relative; display: inline-block; width:50%; min-width:200px; max-width:1000px; background:none; @media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:50%;
}
 }
#container_426fe36_padding { margin: 10px; display: block;  }
#img_759e08a { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_614a360 { vertical-align: top; position:relative; display: inline-block; min-width:30%; background-color:#1A3E23;  }
#container_614a360_padding { margin: 10px; display: block;  }
#container_7a480fa8 { vertical-align: top; position:relative; display: inline-block; background:none;  }
#container_7a480fa8_padding { margin: 10px; display: block;  }
#container_5be0ad15 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5be0ad15_padding { margin: 10px; display: block;  }
#container_3d66e75c { vertical-align: top; position:relative; display: inline-block; width:50%; min-width:200px; max-width:1000px; background:none; @media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:50%;
}
 }
#container_3d66e75c_padding { margin: 10px; display: block;  }
#img_7f894697 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_92975f0 { vertical-align: top; position:relative; display: inline-block; min-width:30%; background-color:#1A3E23;  }
#container_92975f0_padding { margin: 10px; display: block;  }
#container_4902854c { vertical-align: top; position:relative; display: inline-block; background:none;  }
#container_4902854c_padding { margin: 10px; display: block;  }
#container_12dee79e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_12dee79e_padding { margin: 10px; display: block;  }
#container_f7f118f { vertical-align: top; position:relative; display: inline-block; width:50%; min-width:200px; max-width:1000px; background:none; @media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:50%;
}
 }
#container_f7f118f_padding { margin: 10px; display: block;  }
#container_3205b59a { vertical-align: top; position:relative; display: inline-block; min-width:30%; background:none;  }
#container_3205b59a_padding { margin: 10px; display: block;  }
