:root {
    --o1: #070506;
    --o2: #2b2b2b;
    --o3: #656565;
    --o4: #f0edf1;
    --o5: #8fdd28;

    --l1: #e5eb00;
    --l2: #00b643;
    --lL: linear-gradient(to left, var(--l1), var(--l2));
    --lR: linear-gradient(to right, var(--l1), var(--l2));
    --lU: linear-gradient(to top, var(--l1), var(--l2));
    --lD: linear-gradient(to bottom, var(--l1), var(--l2));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(4rem, calc(7vw + 1 rem), 5rem);
    font-family: "Poppins";
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    background: transparent;
    background-color: var(--o1);
    color: var(--o4);
}

header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #00b64346;
    backdrop-filter: blur(8px);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo {
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: none;
}

.logo span {
    background: transparent;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
    background-color: transparent;
}

li {
    background: none;
}

li a {
    position: relative;
    color: var(--o5);
    font-weight: 300;
    background: transparent;
    font-size: 1.5rem;
}

li a::before {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: var(--lR);
}

li a:hover::before {
    width: 100%;
}

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--o1);
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: var(--lR);
}

.visit-btn:hover {
    background: var(--lL);
    transform: scale(1.03);
}

#menu-icon {
    font-size: 2rem;
    background: none;
    display: none;
}

section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img {
    width: clamp(10rem, calc(30vw + 1rem), 30rem);
    border-radius: 50%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
    background: var(--o5);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
    background: none;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--o4);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    color: var(--o5);
    border-color: var(--o5);
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1);
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    background: none;
    color: var(--dark-colour);
}

.experience {
    background: var(--o3);
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: none;
}

.experience img {
    width: clamp(10rem, calc(30vw + 1rem), 30rem);
    border-radius: 3rem;
    background: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background: none;
}

.grid-card {
    border-left: 0.2vw solid var(--o4);
    border-right: 0.2vw solid var(--o4);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2 ease-in-out;
    background-color: transparent;
}

.grid-card span {
    font-size: 2rem;
    font-weight: 800;
    background: var(--o4);
    background-clip: text;
    color: transparent;
    padding-bottom: 1rem;
}

.grid-card h3 {
    background: var(--o4);
    background-clip: text;
    color: transparent;
}

.grid-card p {
    background: var(--o4);
    background-clip: text;
    color: transparent;
}

.grid-card:hover {
    transform: scale(1.02);
}

.grid-card:hover span {
}

.grid-card:hover p {
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--o3);
}

::-webkit-scrollbar-thumb {
    background: var(--lD);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    background: none;
}

.project-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid var(--o2);
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: none;
}

.project-card:hover {
    background-color: var(--o2);
    color: var(--l1);
    transform: translateY(-10px) scale(1.02);
}

.project-card img {
    width: clamp(15rem, calc(15vw + 1rem), 10rem);
    border-radius: 1rem;
}

.project-card:hover .btn {
    border: 2px solid var(--o5);
    color: var(--o5);
}

.project-card:hover .btn:hover {
    border: 2px solid var(--o5);
    background-color: var(--o2);
    color: var(--l2);
}

.project-card:hover .btn.active {
    border: 2px solid var(--o2);
    color: var(--o2);
    pointer-events: none;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
    background: none;
}

.info-grid {
    background: none;
    /*display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    */
}

.info-grid p {
    background: none;
}

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: var(--o2);
    color: var(--o4);
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    background: none;
}

footer ul li a {
    font-weight: 2rem;
    color: var(--o4);
}

.contact {
    font-size: 300;
    background: none;
    color: var(--o4);
}

.copyright {
    font-size: 300;
    background: none;
    color: var(--o4);
}

@media (max-width: 1280px) {
    header {
        gap: 2rem;
    }

    .about .about-container {
        gap: 3rem;
    }

    .experience-info {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    header {
        gap: 1rem;
        padding: 2rem 3rem;
    }

    header .visit-btn {
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    header #menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        width: 100%;
        padding: 1rem;
        color: var(--o1);
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--o2);
        border-radius: 3rem;
        display: none;
    }

    .nav-links li {
        padding: 1rem;
    }

    .nav-links li a {
        color: var(--o4);
    }

    .nav-links.active {
        display: block;
    }

    header {
        padding: 1rem 10vw;
        gap: 6vw;
    }

    header .logo {
        font-size: 1.5rem;
    }

    footer ul {
        gap: 1rem;
    }
}
