:root {
    --o1: #070506;
    --o2: #2b2b2b;
    --o3: #656565;
    --o4: #f0edf1;
    --o5: #8fdd28;

    --l1: #e5eb00;
    --l2: #00b643;
    --lL: linear-gradient(to left, var(--l1), var(--l2));
    --lR: linear-gradient(to right, var(--l1), var(--l2));
    --lU: linear-gradient(to top, var(--l1), var(--l2));
    --lD: linear-gradient(to bottom, var(--l1), var(--l2));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(4rem, calc(7vw + 1 rem), 5rem);
    font-family: "Poppins";
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    background-color: var(--o1);
    color: var(--o4);
}

#detach-button-host {
    display: none;
}

.content-wrapper {
    justify-self: center;
    margin: 0 auto;
}

header {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--o1);
    /*#00b64346;*/
    backdrop-filter: blur(8px);
    padding: 0.5rem 1.5rem;
    z-index: 10;
    gap: 5vw;
}

.header-links {
    display: flex;
    flex-direction: row-reverse;
    background: none;
    gap: 1rem;
}

.header-logo {
    display: flex;
    flex-direction: column;
    background: none;
}

small {
    font-size: 80%;
    background: none;
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.header-logo small {
    font-size: 1.5rem;
    color: var(--o5);
}

.logo {
    font-size: 8vw;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: none;
}

.logo span {
    background: transparent;
    justify-self: right;
}

.logo:hover {
    transform: scale(1.1);
}

.socials {
    display: flex;
    gap: 1rem;
    background: none;
}

.socials img {
    width: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background: none;
}

.socials img:hover {
    transform: scale(1.1);
}

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: var(--o1);
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: var(--lR);
}

.visit-btn:hover {
    background: var(--lL);
    transform: scale(1.03);
}

#menu-icon {
    font-size: 2rem;
    background: none;
    display: none;
}

.about {
    min-height: 80vh;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.about img {
    width: clamp(10rem, calc(40vw + 10rem), 80rem);
    border-radius: 50%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
    background: none;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--o4);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    color: var(--o5);
    border-color: var(--o5);
}

.projects {
    padding: 8rem 2%;
    width: 100%;
    position: relative;
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    background: none;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    background: none;
}

.project-card {
    padding-left: 24px;
    padding-right: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--o2);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background: none;
}

.project-card section {
    background: none;
}

.project-video {
    aspect-ratio: 16 / 9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: calc(100% + 48px);
    margin-top: -24px;
    margin-left: -24px;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    background: none;
}

.project-media {
    width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    background: none;
    filter: saturate(50%);
}

.project-details {
    background-color: #1e1e1ecc;
    backdrop-filter: blur(2px);
    margin-left: -16px;
    margin-right: -32px;
    padding: 12px 24px;
    display: flex;
    position: relative;
    top: -46px;
    left: -8px;
    gap: 1rem;
    align-items: center;
}

.project-details .detail-logo {
    background: none;
    align-items: center;
}

.detail-logo img {
    background: none;
    margin-bottom: -5px;
    width: 1.5rem;
}

.project-details .detail-logo small {
    font-size: 0.875rem;
    background: none;
}

.project-card:hover {
    background-color: var(--o2);
    color: var(--l1);
    transform: translateY(-10px) scale(1.02);
}

.project-card:hover .btn {
    border: 2px solid var(--o5);
    color: var(--o5);
}

.project-card:hover .btn:hover {
    border: 2px solid var(--o5);
    background-color: var(--o2);
    color: var(--l2);
}

.project-card:hover .btn.active {
    border: 2px solid var(--o2);
    color: var(--o2);
    pointer-events: none;
}

.project-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: -40px;
    color: var(--o5);
}

.project-card p {
    font-size: 1.125rem;
    background: none;
    text-align: left;
    margin-top: -15px;
}

.project-card:hover .project-media {
    filter: saturate(100%);
}

.info-grid {
    background: none;
}

.info-grid p {
    background: none;
}

.experience {
    background: var(--o3);
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: none;
}

.experience img {
    width: clamp(10rem, calc(30vw + 1rem), 30rem);
    border-radius: 3rem;
    background: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background: none;
}

.grid-card {
    border-left: 0.2vw solid var(--o4);
    border-right: 0.2vw solid var(--o4);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2 ease-in-out;
    background-color: transparent;
}

.grid-card span {
    font-size: 2rem;
    font-weight: 800;
    background: var(--o4);
    background-clip: text;
    color: transparent;
    padding-bottom: 1rem;
}

.grid-card h3 {
    background: var(--o4);
    background-clip: text;
    color: transparent;
}

.grid-card p {
    background: var(--o4);
    background-clip: text;
    color: transparent;
}

.grid-card:hover {
    transform: scale(1.02);
}

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: var(--o2);
    color: var(--o4);
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    background: none;
}

footer ul li a {
    font-weight: 2rem;
    color: var(--o4);
}

li {
    background: none;
}

li a {
    position: relative;
    color: var(--o5);
    font-weight: 300;
    background: transparent;
    font-size: 1.5rem;
}

li a::before {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: var(--lR);
}

li a:hover::before {
    width: 100%;
}

.contact {
    font-size: 300;
    background: none;
    color: var(--o4);
}

.copyright {
    font-size: 300;
    background: none;
    color: var(--o4);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--o3);
}

::-webkit-scrollbar-thumb {
    background: var(--lD);
}

@media (max-width: 1280px) {
    .experience-info {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (width >= 768px) {
    header {
        flex-direction: row;
    }
    .logo {
        font-size: 3rem;
    }
    .project-card h3 {
        font-size: 2rem;
    }
    .about img {
        width: clamp(10rem, calc(40vw + 1rem), 30rem);
        border-radius: 50%;
    }
}

@media only screen and (width >= 1200px) {
    .content-wrapper {
        max-width: 1200px;
    }
}
