a { color:#E1EB27; } 
a:visited { color:#A7EB29; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_52d50cb9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#C0C0C0;  }
#container_52d50cb9_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_4d3010c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4d3010c9_padding { margin: 10px; display: block;  }
#container_3c89489e { vertical-align: top; position:relative; display: inline-block; width:50%; min-width:200px; max-width:1000px; background:none;  }
#container_3c89489e_padding { margin: 10px; display: block;  }
#container_43c64280 { vertical-align: top; position:relative; display: inline-block; min-width:30%; background-color:#1A3E23;  }
#container_43c64280_padding { margin: 10px; display: block;  }
#container_76543de1 { vertical-align: top; position:relative; display: inline-block; background:none;  }
#container_76543de1_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-decoration:underline;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29;  }
@media only screen and (max-width: 991px)
{
		#container_3c89489e { width:100%;  }
}
