h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#E1EB27; } 
a:visited { color:#A7EB29; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_69fcba52 a { text-decoration: none; }
#menu_69fcba52_pane { background-color: #C0C0C0; border: 1px solid #64845E; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_69fcba52_hr { background-color: #64845E; height: 1px; border: none; }
#menu_69fcba52_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_69fcba52_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_69fcba52_entry:hover span { color:#FFFFFF !important; }
		.menu_69fcba52_mainMenuEntry { text-align: center; }
		.menu_69fcba52_mainMenuEntry:hover {	background-color:#282828; }
		.menu_69fcba52_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_69fcba52 .mobileEntry { display: none; } 
		#menu_69fcba52 .normalEntry { display: block; } 
		#menu_69fcba52_menualignmentwrapper{ width:480px; left: calc(100% - 480px);  } 
		@media only screen and (max-width:600px) { 
			#menu_69fcba52 .mobileEntry { display: block; } 
			#menu_69fcba52 .normalEntry { display: none; } 
			#menu_69fcba52_menualignmentwrapper { width:120px; left: calc(100% - 120px);  } 
		}
body { background-color:#64845E; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_597c7e48 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background-color:#C0C0C0; position: fixed;
top: 0;
z-index: 999; }
#container_597c7e48_padding { margin: 0px 10px 0px 0px;display: block;  }
.textstyle2 { text-align:center; }
#container_2104e2c0 { vertical-align: top; position:relative; display: inline-block; width:6%; min-height:80px; background-color:#1A3E23; @media screen and (max-width: 991px) {
    width:12%;
}
@media screen and (min-width: 992px) {
    width:6%;
}
 }
#container_2104e2c0_padding { margin: 10px; display: block;  }
#img_7cc28000 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:100%; background:none;  }
#menu_69fcba52 { vertical-align: bottom; position:relative; display: inline-block; width:94%; height:106px; text-align:left; background-color:#C0C0C0; @media screen and (max-width: 991px) {
    width:88%;
}
@media screen and (min-width: 992px) {
    width:94%;
}
 }
#menu_69fcba52_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:120px; height:106px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:120px; height:106px; left:120px;  }
.menustyle3 { position:absolute; width:120px; height:106px; left:240px;  }
.menustyle4 { position:absolute; width:120px; height:106px; left:360px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#anchor_6058d15 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_6b6534ab { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#64845E;  }
#container_3ca14934 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#1A3E23; background: linear-gradient(to bottom, #000000, #1A3E23);  }
#container_1fbec4f5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:800px; background-color:#C0C0C0;  }
#container_1fbec4f5_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#placeh_7cb9c60c { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#heading_10377463 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#1A3E23; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#A7EB29; text-align:center; font-weight:bold; text-decoration:underline;  }
#heading_10377463_padding { margin: 10px; display: block;  }
#container_6ce345d0 { vertical-align: top; position:relative; display: inline-block; width:70%; background:none; <div style=@media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:70%;
} }
#container_6ce345d0_padding { margin: 10px; display: block;  }
#video_71fbe97c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_1265f3b4 { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background-color:#64845E;  }
#container_1265f3b4_padding { margin: 10px 40px 10px 40px;display: block;  }
.textstyle7 { text-align:right; }
#container_6fc61b5 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:175px; background:none; <div style=@media screen and (max-width: 991px) {
    width:100%;
}
@media screen and (min-width: 992px) {
    width:50%;
} }
#container_6fc61b5_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
