h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#E1EB27; } 
a:visited { color:#A7EB29; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_75efadc6 a { text-decoration: none; }
#menu_75efadc6_pane { background-color: #1A3E23; border: 1px solid #64845E; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_75efadc6_hr { background-color: #64845E; height: 1px; border: none; }
#menu_75efadc6_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_75efadc6_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_75efadc6_entry:hover span { color:#FFFFFF !important; }
		.menu_75efadc6_mainMenuEntry { text-align: center; }
		.menu_75efadc6_mainMenuEntry:hover {	background-color:#282828; }
		.menu_75efadc6_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_75efadc6 .mobileEntry { display: none; } 
		#menu_75efadc6 .normalEntry { display: block; } 
		#menu_75efadc6_menualignmentwrapper{ width:240px; left: calc(50% - 120px);  } 
		@media only screen and (max-width:600px) { 
			#menu_75efadc6 .mobileEntry { display: block; } 
			#menu_75efadc6 .normalEntry { display: none; } 
			#menu_75efadc6_menualignmentwrapper { width:120px; left: calc(50% - 60px);  } 
		}
body { background-color:#64845E; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_390aab84 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background-color:#C0C0C0; position: fixed;
top: 0;
z-index: 999; }
#container_390aab84_padding { margin: 0px 10px 0px 0px;display: block;  }
#container_744bd6fd { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:80px; background-color:#1A3E23;  }
#img_27858737 { position:absolute; left:0%; top:0%; height:100%; background:none;  }
#menu_75efadc6 { vertical-align: bottom; position:relative; display: inline-block; width:70%; height:80px; text-align:left; background-color:#C0C0C0;  }
#menu_75efadc6_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:120px; height:80px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:120px; height:80px; left:120px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_6532fa0e { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:80px; background-color:#C0C0C0;  }
#container_6532fa0e_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:center; }
#container_6b6534ab { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#64845E;  }
#container_53797471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#anchor_6058d15 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_3ca14934 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#1A3E23; background: linear-gradient(to bottom, #000000, #1A3E23);  }
#container_1fbec4f5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:800px; background-color:#C0C0C0;  }
#container_1fbec4f5_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#placeh_7cb9c60c { vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#heading_2e18e390 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center; text-decoration:underline;  }
#img_1789df23 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
